:root {
  --primary-color: var(--indigo-900);
  --primary-text-color: white;
  --heading-color: var(--indigo-900);
  --title-color: var(--indigo-700);
  --caption-color: var(--indigo-900);
  --subtitle-color: var(--indigo-400);
  --href-color: var(--indigo-400);
}
