:root {
  --aside-background: var(--primary-color, --indigo-900);
  --aside-color: var(--primary-text-color, white);
  --aside-font-family: Avenir, Helvetica, Arial, sans-serif;
  --aside-font-size: 1em;
  --aside-font-heading-weight: bold;
  --aside-heading-font-size: 1.5em;
  --aside-content-width: 12rem;
}

.aside-heading {
  $margin: 0.86em;

  color: var(--aside-color);
  font-size: var(--aside-heading-font-size);
  font-weight: var(--aside-font-heading-weight);
  font-family: var(--aside-font-family);
  margin: 0 0 $margin 0;

  &::placeholder {
    color: var(--aside-color);
    opacity: 0.66;
  }

  &.first {
    @apply text-center;
  }
}

.aside-text {
  color: var(--aside-color);
  font-size: var(--aside-font-size);
  font-family: var(--aside-font-family);

  &::placeholder {
    color: var(--aside-color);
    opacity: 0.66;
  }
}

ul.aside-list {
  @apply list-disc list-inside pl-4 m-0;
}

.contact {
  .multiline {
    @apply grid items-center gap-x-[.5em] gap-y-[.15em];

    grid-template-columns: auto 1fr;
    grid-template-areas:
      'icon street'
      'empty city';
  }

  .line,
  .multiline {
    img {
      @apply h-4;
    }
  }

  .line {
    @apply inline-flex items-center gap-2;
  }
}

aside .editor .actions {
  @apply flex justify-end gap-2;
}
