@mixin font-family() {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-heading {
  @apply font-bold;

  font-size: 2.25rem;
  color: var(--section-heading-color, #000);
  line-height: 1.1111111;

  @include font-family();
}

.heading {
  @apply underline font-black;

  font-size: 1.65rem;
  color: var(--heading-color, --indigo-700);

  @include font-family();
}

.title {
  @apply font-light;

  font-size: 1.5rem;
  color: var(--title-color, --indigo-700);

  @include font-family();
}

.caption {
  @apply font-normal;

  font-size: 0.75rem;
  color: var(--caption-color, --indigo-900);

  @include font-family();
}

.subtitle {
  @apply font-bold;

  color: var(--subtitle-color, --indigo-400);

  @include font-family();
}

.href {
  @apply underline;

  color: var(--href-color, --indigo-400);
  font-size: 0.85rem;

  @include font-family();
}

.text {
  @apply prose;
  font-family: Quicksand;
}
